<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @comment.event_id %>
</p>

<p>
  <strong>Details:</strong>
  <%= @comment.details %>
</p>

<p>
  <strong>Author:</strong>
  <%= @comment.author %>
</p>

<% if member_signed_in? %>
<%= link_to 'Edit', edit_comment_path(@comment) %> |
<% end %>
<%= link_to 'Back', event_path(id: @comment.event_id) %>
